footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='#') About Us
    li: a(href='#') Download Apps
    li: a(href='#') Become A Guide
    li: a(href='#') Careers
    li: a(href='#') Contact
  p.footer__copyright &copy; Made With By ❤️ Praabindh Pradeep. All Rights Reserved.